body {
  background-color: blacK;
}

.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  background-color: black;
  height: 100vh;
  font-family: 'Courgette', cursive;
}

.smileWelcome {
  background: url('./assets/landing_Image.jpg') no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-position: center top;
  height: 100%;
  width: 100%;
  padding-top: 70vh;
  font-family: 'Courgette', cursive;
}

.red {
  color: red;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.white {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 8px rgb(255, 0, 0);
}

#dropdown-button-dark-example2 {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  background-color: bLack;
}

.card img {
  min-height: 200px;
}

.App-header {
  margin: 20px 100px;
  border-radius: 50px;
  background-color: #17181a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  vertical-align: top;
  font-size: calc(10px + 2vmin);
  color: rgb(109, 109, 109);
}

@media (max-width: 600px) {
  .App-header {
    margin: 10px 10px;
    min-height: 95vh;
  }
}